* {
    font-family: 'Big Shoulders Display', cursive;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: #F5F5F5;
}

.heading {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #737373;
}

.logo {
    height: 80px;
}

.selection {
    height: 10vh;
    background: #a9a9a9;
    display: flex;
    text-align: center;
}

.selection div {
    width: 25%;
}

.selection div p {
    font-size: 1.5vw;
    line-height: 0.1;
}

.selection div span {
    font-size: 1.5vw;
}

.content form {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0 0 0;
}

.btn {
    background: none;
    border: none;
    background: #737373;
    height: 15vh;
    width: 24%;
    white-space: normal;
    font-size: 2.5vw;
    margin: 0.5%;
    border-radius: 10px;
}


.btn:focus {
    outline: none;
}































/* .btn {
    border: none;
    background: none;
    background-color: #b9b9b9;
    color: #545454;
    min-height: 100px;
    min-width: 350px;
    font-size: 40px;
    border-radius: 10px;
    text-transform: uppercase;
}

.active {
    background-color: #1a4cbb;
    color: #ffffff;
} */







































/* .btn {
    position: relative;
    width: 200px;
    height: 100px;
    border: none;
    background: white;
    border-radius: 15px;
    border-bottom: 7px solid #1b1b1b;
    background-image: linear-gradient(#ffffff,#a7a7a7);
    box-shadow: 0px 9px 5px -5px #656565;
    font-size: 40px;
    text-transform: uppercase;
}

.btn::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    border: 2px solid #1b1b1b;
    border-radius: 10px;
}

.btn:focus {
    outline: none;
}

.active {
    color: blue;
}

.active::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    border: 2px solid blue;
    border-radius: 10px;
} */