<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/master.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap" rel="stylesheet">
    <title>KIOSK</title>
</head>

<body>
    <div class="heading">
        <div><img class="logo" src="/static/stylesheets/gpd_logo.png" alt=""></div>
        <div class="dateAndTime"></div>
    </div>
    <div class="selection">
        <div class="raceType">
            <p>Race</p>
            <span>{{ userSelection["race"] }}</span>
        </div>
        <div class="product">
            <p>Product</p>
            <span>{{ userSelection["product"] }}</span>
        </div>
        <div class="date">
            <p>Date</p>
            <span>{{ userSelection["date"] }}</span>
        </div>
        <div class="track">
            <p>Track</p>
            <span>{{ userSelection["track"] }}</span>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>