<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/master.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap" rel="stylesheet">
    <title>KIOSK</title>
</head>

<body>
    <div class="heading">
        <img class="logo" src="/static/stylesheets/gpd_logo.png" alt="">
        <!-- <div class="dateAndTime"></div> -->
    </div>
    <div class="selection">
        <div class="raceType">
            <div>Race</div>
            <div>{{ userDisplay["race"] }}</div>
        </div>
        <div class="product">
            <div>Product</div>
            <div>{{ userDisplay["product"] }}</div>
        </div>
        <div class="date">
            <div>Date</div>
            <div>{{ userDisplay["date"] }}</div>
        </div>
        <div class="track">
            <div>Track</div>
            <div>{{ userDisplay["track"] }}</div>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>